body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(223, 57, 57);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.landing-page{
  background: white url("https://th.bing.com/th/id/OIP.80KG9cXzKm11ZE9PgHG-QgHaFC?w=271&h=185&c=7&r=0&o=5&dpr=1.3&pid=1.7") no-repeat scroll center;
  background-size: cover;
  height: 100vh;
  color: #c8cfcf;
}
.wrapper{
  background-color: rgba(0,0,0,0.7);
  height: 100%;
}

.finalpart{

  height:50px;
  color: rgb(166, 99, 99);
}

.bg-111{
  background-image: linear-gradient(to right, #ec4111 ,#e0a7a4);
}
.bg-11{
  background-image: linear-gradient(to bottom, #c6725b ,#e0a4a4,#c65b5b); 
}
.bg-1{
  background-image: linear-gradient(to top, #c6605b ,#e0a4a4); 

  
}
.bg-113{

  background-color: #b41818;
}
#notify{
  color: rgb(178, 103, 103);
  background-color: rgb(232, 219, 245);
  width: 15rem;
  margin: auto;
  /* z-index: 10 !important; */
  /* transform: translateY(140%);  */
 animation: come-from-above 5s;
  
}
.bg-nav{
  background-color: #7c0808;;
}

@keyframes come-from-above{
from{
  transform: translateY(-100%);

}

to{
  transform: translateY(100%);
}

}
